.obw{
    display: flex;
}
.obw div{
    margin-right: 10px;
}
.obw img{
    margin-right: 10px;
}

.no{
    text-align: center;
}

@media(max-width:600px){
    .obw{
 display: inline-block;
 margin-left: 55px;

}}
